@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <label>Name:</label> <i>@ViewBag.CoolestName</i>
    <label>LastName:</label> <i>@ViewBag.CoolestLastName</i>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
